/* 160x600 CSS */

html, body {
    margin: 0;
    }

#ad {
    height: 90px;
    width: 728px;
	}

#ad-content {
    border: 1px solid #000;
    height: 88px;
    width: 726px;
    cursor: default;
    /* background-image:url('assets/bg-image-728x90.jpg'); */
    background-position: top left;
    }
    
#slide1 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top; 
    }
    
/* Copy styles */

#description {
    position: absolute;
    width: 250px;
    left: 129px;
    top: 20px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 1.14em;
    font-family: Montserrat;
    }

/* Button styles */

#button {
    display: block;
    position: absolute;
    left: 396px;
    top: 24px;
    padding: 14px 20px;
    background-color: rgb(244, 159, 133);
    cursor: default;
    }

#button_text {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    
/* Logo styles */
#logo {
    position: absolute;
    left: 16px;
    top: 10px;
    }

#logo img {
	width: 83px;
	height: auto;
	}
