/* 300x250 CSS */

html, body {
    margin: 0;
    }

#ad {
    width: 300px;
    height: 250px;
	}

#ad-content {
    border: 1px solid #000;
    height: 248px;
    width: 298px;
    cursor: default;
    }
    
#slide1 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top; 
    }
    
/* Copy styles */

#description {
    position: absolute;
    width: 190px;
    left: 15px;
    top: 19px;
    color: rgb(255, 255, 255);
    font-size: 23px;
    line-height: 1.14em;
    font-family: Montserrat;
    }

/* Button styles */

#button {
    display: block;
    position: absolute;
    padding: 12px 18px;
    left: 15px;
    top: 106px;
    background-color: rgb(244, 159, 133);
    cursor: default;
    }

#button_text {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-weight: bold;
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    
/* Logo styles */
#logo {
    position: absolute;
    width: 138px;
    height: 42px;
    left: 17px;
    top: 153px;
    }
