/* 120x600 CSS */

html, body {
    margin: 0;
    }

#ad {
    width: 120px;
    height: 600px;
	}

#ad-content {
    border: 1px solid #000;
    width: 118px;
    height: 598px;
    cursor: default;
    }
       
/* Copy styles */

#description {
    position: absolute;
    width: 90px;
    left: 14px;
    top: 130px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.14em;
    font-family: Montserrat;
    }

/* Button styles */

#button {
    display: block;
    position: absolute;
    width: 80px;
    padding: 8px;
    left: 13px;
    top: 275px;
    background-color: rgb(244, 159, 133);
    cursor: default;
    }

#button_text {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-weight: bold;
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    
/* Logo styles */
#logo {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 14px;
    top: 25px;
    }
