/* 160x600 CSS */

html, body {
    margin: 0;
    }

#ad {
    width: 468px;
    height: 60px;
	}

#ad-content {
    border: 1px solid #000;
    height: 58px;
    width: 466px;
    cursor: default;
    }
    
#slide1 {
    height: 100%;
    width: 100%;
    background-image:url('assets/468x60-bgimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top; 
    }
    
/* Copy styles */

#description {
    position: absolute;
    width: 220px;
    left: 150px;
    top: 13px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.14em;
    font-family: Montserrat;
    }

/* Button styles */

#button {
    display: block;
    position: absolute;
    padding: 12px 18px;
    left: 150px;
    top: 13px;
    background-color: rgb(244, 159, 133);
    cursor: default;
    }

#button_text {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-weight: bold;
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    
/* Logo styles */
#logo {
    position: absolute;

    left: 15px;
    top: 15px;
    }

#logo img {
    width: auto;
    height: 30px;
	}

