/* 160x600 CSS */

html, body {
    margin: 0;
    }

#ad {
    width: 160px;
    height: 600px;
	}

#ad-content {
    border: 1px solid #000;
    height: 598px;
    width: 158px;
    cursor: default;
    }
    
/* Copy styles */

#description {
    position: absolute;
    width: 130px;
    left: 15px;
    top: 120px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 1.14em;
    font-family: Montserrat;
    }

/* Button styles */

#button {
    display: block;
    position: absolute;
    padding: 8px 0;
    width: 128px;
    top: 300px;
    left: 15px;
    background-color: rgb(244, 159, 133);
    cursor: default;
    }

#button_text {
	display: block;
	margin: 0 8px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-weight: bold;
    font-size: 0.6em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    
/* Logo styles */
#logo {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 15px;
    top: 25px;
    }
